Repository googleinterns/zoomtube, pull requests merged in 2020-07, with the labels that each got.

#31 Redirects user to lecture page and grabs lecture key from URL
  src/main/webapp/index.html
  src/main/webapp/lecture-view.html
  src/main/webapp/lectures.js
  src/main/webapp/view.js
Labels: back-end, front-end, lecture

#27 Add discussions with basic comments
  src/main/java/com/googleinterns/zoomtube/data/Comment.java
  src/main/java/com/googleinterns/zoomtube/servlets/DiscussionServlet.java
  src/main/webapp/discussion.js
  src/main/webapp/lecture-view.html
  src/main/webapp/view.js
Labels: back-end, discussions, front-end

#40 Added URL builder to LectureServlet.java
  src/main/java/com/googleinterns/zoomtube/data/Lecture.java
  src/main/java/com/googleinterns/zoomtube/servlets/LectureServlet.java
Labels: back-end, front-end, lecture

#45 Add the ability to reply to comments
  .eslintrc.json
  src/main/java/com/googleinterns/zoomtube/data/Comment.java
  src/main/java/com/googleinterns/zoomtube/servlets/DiscussionServlet.java
  src/main/webapp/discussion.js
  src/main/webapp/lecture-view.html
  src/main/webapp/view.js
Labels: back-end, discussions, front-end

#28 Retrieve and Parse XML for hardcoded transcript text and timestamp.
  pom.xml
  src/main/java/com/googleinterns/zoomtube/servlets/TranscriptServlet.java
Labels: back-end, transcript

#66 Avoids duplicate lectures
  src/main/java/com/googleinterns/zoomtube/servlets/LectureServlet.java
Labels: back-end, lecture

#67 Add authentication for posting comments
  .github/workflows/lint.yml
  makefile
  pom.xml
  src/main/java/com/googleinterns/zoomtube/data/AuthenticationStatus.java
  src/main/java/com/googleinterns/zoomtube/data/Comment.java
  src/main/java/com/googleinterns/zoomtube/servlets/AuthenticationServlet.java
  src/main/java/com/googleinterns/zoomtube/servlets/DiscussionServlet.java
  src/main/webapp/discussion.js
  src/main/webapp/lecture-view.html
  src/main/webapp/view.js
  src/test/java/com/googleinterns/zoomtube/servlets/AuthenticationServletTest.java
Labels: discussions

#75 Update project config to deploy on GCP; add link in README
  README.md
  index.yaml
  pom.xml
Labels: P0, internal-cleanup

#83 Adds lecture servlet unit tests
  CODEOWNERS
  makefile
  pom.xml
  src/main/java/com/googleinterns/zoomtube/data/Lecture.java
  src/main/java/com/googleinterns/zoomtube/servlets/LectureServlet.java
  src/test/java/com/googleinterns/zoomtube/servlets/LectureServletTest.java
Labels: P0, internal-cleanup, lecture

#81 Add tests for discussion servlet
  src/main/java/com/googleinterns/zoomtube/data/Comment.java
  src/main/java/com/googleinterns/zoomtube/servlets/DiscussionServlet.java
  src/test/java/com/googleinterns/zoomtube/servlets/AuthenticationServletTest.java
  src/test/java/com/googleinterns/zoomtube/servlets/DiscussionServletTest.java
Labels: P1, discussions, internal-cleanup
